:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-effect-color: #2196f3;
  --primary-background-color: #2f303a;
  --primary-headers-color: #212121;
  --primary-text-color: #757575;
  --primary-button-color: #f5f4fa;
  --primary-clients-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  min-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.main-nav {
  display: flex;
  align-items: center;
  max-height: 80px;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-effect-color);
  text-transform: capitalize;
}

.logostudioblack {
  color: var(--primary-black-color);
}
.logostudiowhite {
  color: var(--primary-white-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1170px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current-link {
  position: relative;
  color: var(--primary-effect-color);
  text-transform: capitalize;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  max-height: 80px;
}

.current-link::after {
  position: absolute;

  content: '';
  display: block;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: var(--primary-effect-color);
  border-radius: 2px;
}

.nav {
  display: flex;
  margin-left: 93px;
  width: max-content;
}

.nav .item + .item {
  margin-left: 50px;
}

.nav .link {
  display: block;
  color: var(--primary-headers-color);
  text-transform: capitalize;
  padding-top: 32px;
  padding-bottom: 32px;
  /* width: 294px; */
}

.contact-us {
  display: flex;
  width: max-content;
  margin-left: 305px;
}

.contact-us .item + .item {
  margin-left: 30px;
}
.contact-us .item + .item:last-child {
  margin-right: 0px;
}

.contact-us .link {
  display: flex;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: fill 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.nav .link:hover,
.nav .link:focus,
.contact-us .link:hover,
.contact-us .link:focus {
  color: var(--primary-effect-color);
  fill: var(--primary-effect-color);
  transition: fill 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.icon-envelope svg {
  margin-top: 2px;
}
.icon-envelope svg,
.icon-smartphone svg {
  margin-right: 10px;
}

/* .hero, */
.footer {
  background-color: var(--primary-background-color);
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/backgr.jpg');
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--primary-effect-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-headers-color);
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}
.feature-list {
  display: flex;
}

.values {
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 94px;
}

.act {
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 91px;
  margin-bottom: 97px;
}
.act .section-title {
  text-align: center;
}

/* features css */
.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.feature-list .item::before {
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  border: transparent;
  background-color: var(--primary-button-color);
  margin-bottom: 30px;
  content: '';
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url('../images/antenna 1.svg');
}

.icon-clock::before {
  background-image: url('../images/clock 1.svg');
}

.icon-diagram::before {
  background-image: url('../images/diagram 1.svg');
}

.icon-astronaut::before {
  background-image: url('../images/astronaut 1.svg');
}

.feature-list .item:nth-child(4n) {
  margin-right: 0px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-headers-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.social .feature-title {
  color: var(--primary-white-color);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;
}

.activity {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.activity .item {
  width: 370px;
  margin-right: 30px;
}

.activity .item:nth-child(3n) {
  margin-right: 0px;
}

.team {
  background-color: var(--primary-button-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.teammate,
.profession {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

ul.teammate-social {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.teammate-list {
  display: flex;
}

.teammate-list .teammate-card {
  width: 270px;
  margin-right: 30px;
}

.teammate-list .teammate-card:nth-child(4n) {
  margin-right: 0px;
}
.ui {
  text-transform: uppercase;
}

.teammate {
  font-weight: 500;
  color: var(--primary-headers-color);
  margin: 0;
  margin-bottom: 10px;
  /* background-color: teal; */
}

.teammate-card {
  background-color: var(--primary-white-color);
  padding: 0;
  margin: 30;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.photo {
  margin-bottom: 30px;
}

.profession {
  font-size: 400;
  color: var(--primary-text-color);
  margin: 0;
  margin-bottom: 30px;
}
.adress p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0px;
}

p.physicaladress {
  color: var(--primary-white-color);
  margin-bottom: 9px;
  margin-top: 20px;
  width: 231px;
}

p.mailadress {
  margin-bottom: 9px;
}
.mailadress a,
.phonenumadress a {
  color: rgba(255, 255, 255, 0.6);
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-headers-color);
  background-color: var(--primary-button-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid var(--primary-button-color);
  box-shadow: none;
  outline: transparent;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-effect-color);
  box-shadow: 2px 3px 3px rgba(40, 67, 107, 0.42);
  border: 1px solid rgba(47, 48, 58, 0.4);
  transition: border 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
}

.work-example {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-headers-color);
}
.work-sphere {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* hw3 */
.page-header {
  background-color: var(--primary-white-color);
  width: 1600px;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid #ececec;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer .conteiner {
  padding: 60px 15px;
  display: flex;
}
h1.portfolio {
  display: none;
}

section.portfolio {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filteritem {
  margin-right: 8px;
}

.filteritem:last-child {
  margin-right: 0px;
}

.samples.list {
  display: flex;
  flex-wrap: wrap;
}

.samples .item {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #eeeeee;
}

.sample-link {
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.sample-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--timing-function);
}
.samples .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--timing-function);
}

.samples .item:nth-child(3n) {
  margin-right: 0px;
}

.samples .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-example,
.work-sphere {
  margin: 0px;
  padding-left: 24px;
}

.samplephoto {
  padding-bottom: 20px;
}

.work-example {
  padding-bottom: 4px;
  padding-top: 20px;
}
.work-sphere {
  padding-bottom: 20px;
}

.clients,
.portfolio {
  margin: 94px 215px;
}
/* Наши клиенты */
.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.companycontacts {
  width: 231px;
}

.social {
  margin-left: 156px;
  margin-top: 12px;
}

.social-list {
  display: inline-flex;
}

.client-name {
  margin-right: 30px;
}

.client-name:last-child {
  margin-right: 0px;
}

.client-name a {
  box-sizing: border-box;
  display: flex;
  border: 1px solid var(--primary-clients-color);
  width: 170px;
  height: 90px;
  border-radius: 4px;
  fill: var(--primary-clients-color);
  align-items: center;
  justify-content: center;
}
/* переделанные иконки и клиенты */
.client-name a:hover,
.client-name a:focus {
  fill: var(--primary-effect-color);
  border: 1px solid var(--primary-effect-color);
  border-radius: 4px;
  box-shadow: 2px 3px 3px rgba(40, 67, 107, 0.42);
  transition: fill 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
}

.icon-item {
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding-bottom: 30px;
}
.icon-item a {
  list-style: none;
  height: 44px;
  width: 44px;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--primary-clients-color);
  padding: 12px;
}

.icon-teammate {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
  transform: rotate(0deg);
}
.teammate-social a:focus,
.social-list a:focus,
.teammate-social a:hover,
.social-list a:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-effect-color);
  transform: rotate(360deg);
  transition: transform 250ms var(--timing-function);
}

.social-item a {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-social {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: var(--primary-white-color);
}

/* homework 5  */

.label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  overflow: hidden;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.thumb {
  position: relative;
}

.thumb > .label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
}

.sample-thumb {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}
.item a:focus .overlay,
.item:hover .overlay {
  transform: translateY(0%);
  opacity: 1;
}

/* .sample-content {
  background-color: var(--primary-effect-color);
  color: var(--primary-white-color);
} */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);

  box-sizing: border-box;
  height: 581px;
  width: 528px;

  background-color: var(--primary-white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.close-icon {
  fill: currentColor;
}

.close-button:focus .close-icon,
.close-button:hover .close-icon {
  fill: var(--primary-effect-color);
}

div.social {
  width: 206px;
  margin-left: 70px;
}
.form {
  padding: 40px;
  height: 581px;
  width: 528px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.15;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form-field label {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
  margin-bottom: 4px;
}

.form-field:hover .form-icon,
.form-field:focus-within .form-icon {
  fill: var(--primary-effect-color);
}

.form-field input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  max-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}
.form-field:hover input {
  border: 1px solid var(--primary-effect-color);
}

.form-field textarea {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  max-height: 120px;
  resize: none;
}

.form-field textarea::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.form-field:hover textarea,
.form-field:focus-within textarea {
  border: 1px solid var(--primary-effect-color);
}

.form-button,
.mailing-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  color: var(--primary-white-color);
  cursor: pointer;
}

.form-button {
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 124px;
  padding: 0;
}
.form-button:focus-within,
.form-button:hover {
  box-shadow: 2px 3px 3px rgba(40, 67, 107, 0.42);
  border: 1px solid rgba(47, 48, 58, 0.4);
  transition: border 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
}
.mailing-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-left: 12px;
}
.mailing-form {
  margin-left: 93px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.mailing-form label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.mailing-form input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--primary-background-color);
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  color: var(--primary-white-color);
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.form-icon {
  position: absolute;
  bottom: 2px;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.argeement-field {
  width: 448px;
  height: 30px;
}
.checkbox {
  appearance: none;

  position: absolute;
}
.agreement-checkbox {
  padding: 30px;
  width: 448px;
  height: 30px;
}
.checkbox-icon {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  padding-left: 10px;
}

.checkbox-icon::before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/check-box.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.checkbox:checked + .checkbox-icon::before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.agreement-license {
  margin-left: 5px;
  color: var(--primary-effect-color);
  text-decoration: underline;
}
