.feature-list .item {
  width: 270px;
  margin-right: 30px;
  &::before {
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    border: transparent;
    background-color: $primary-button-color;
    margin-bottom: 30px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-antenna::before {
  background-image: url('../images/antenna 1.svg');
}

.icon-clock::before {
  background-image: url('../images/clock 1.svg');
}

.icon-diagram::before {
  background-image: url('../images/diagram 1.svg');
}

.icon-astronaut::before {
  background-image: url('../images/astronaut 1.svg');
}

.feature-list .item:nth-child(4n) {
  margin-right: 0px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-headers-color;
  margin-bottom: 20px;
  margin-top: 0;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 0;
  margin-top: 0;
  height: 75px;
}
