.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-effect-color;
  text-transform: capitalize;
  .logostudioblack {
    color: $primary-black-color;
  }
  .logostudiowhite {
    color: $primary-white-color;
  }
}
