@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/raleway-v18-latin_cyrillic-regular.eot);
  src: url(/fonts/raleway-v18-latin_cyrillic-regular.woff);
  src: url(/fonts/raleway-v18-latin_cyrillic-regular.woff2);
  src: url(/fonts/raleway-v18-latin_cyrillic-regular.ttf);
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: bold;
  src: url(/fonts/raleway-v18-latin_cyrillic-700.eot);
  src: url(/fonts/raleway-v18-latin_cyrillic-700.woff);
  src: url(/fonts/raleway-v18-latin_cyrillic-700.woff2);
  src: url(/fonts/raleway-v18-latin_cyrillic-700.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/roboto-v20-latin_cyrillic-regular.eot);
  src: url(/fonts/roboto-v20-latin_cyrillic-regular.ttf);
  src: url(/fonts/roboto-v20-latin_cyrillic-regular.woff);
  src: url(/fonts/roboto-v20-latin_cyrillic-regular.woff2);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: bold;
  src: url(/fonts/roboto-v20-latin_cyrillic-700.eot);
  src: url(/fonts/roboto-v20-latin_cyrillic-700.ttf);
  src: url(/fonts/roboto-v20-latin_cyrillic-700.woff);
  src: url(/fonts/roboto-v20-latin_cyrillic-700.woff2);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: bolder;

  src: url(/fonts/roboto-v20-latin_cyrillic-900.ttf);
}
