$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-effect-color: #2196f3;
$primary-background-color: #2f303a;
$primary-headers-color: #212121;
$primary-text-color: #757575;
$primary-button-color: #f5f4fa;
$primary-clients-color: #afb1b8;
$line-color: #ececec;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: 'Roboto';
